#upload_contents {
    height: 93vh;
    width: 77vw;
    margin-left: 1%;
    justify-self: center;
}

input {
    width: 200px;
    height: 50px;
    background-color: beige;    
}
#input::first-line {
    width: 100px;
    height: 50px;
    
}

#upload {
    width: 100px;
    height: 50px;
    padding: 6px 25px;
    background-color: #4CAAAA;
    border-color: #4CAAAA;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
#input::file-selector-button {
    width: 100px;
    height: 50px;
    padding: 6px 25px;
    
    border-color: #4CAAAA;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}


#img {
    align-items: center;
    justify-content: center;

}


