.sidebar {
  width: 240px;
  height: 1fr;
  width: 1fr;
  transition: all 1s;
  border-radius: 0px 10px 10px 0px;
  background-image: linear-gradient(to right, #77EED8, #9EABE4);
  padding: 10px 0px 0px 10px;
}

ul {
  height: 1fr;
  padding: 0;
  min-width: 250px;
}

ul li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  padding: 15px;
  border-radius: 20px 0px 0px 20px;
}

ul li a:hover,
ul li a.active {
  background-color: white;
  color: #9EABE4;
}

.Logo {
  height: 100px;
  padding: 0px 0px 40px;
}

.Logo_zone {
  display: flex;
  justify-content: center;
}

#Login{ 
  position:fixed;
  width: 15%;
  bottom: 0;
  margin-bottom: 10px;
}